html
  head
    title WebRTC signaling server
  body
    h1 WebRTC signaling server
    p Signaling server now running.
    p Number of active WebSocket connections is #{nwebsockets} (refresh page to update).